$sizes: (
    "750": 750px,
    "650": 650px,
    "550": 550px,
    "500": 500px,
    "450": 450px,
    "400": 400px,
    "200": 200px,
    "300": 300px,
    "350": 350px,
    "250": 235px,
    "150": 150px,
    "110": 110px,
    "290": 290px,
    "280": 280px,
    "270": 270px,
    "230": 230px,
    "60": 60px,
    "90": 90%,
    "80": 80%,
    "40": 40%
);
$theme-colors: (
    "footer": #414266,
    "bluelight": #e6e7f3
);

$danger: #c03654;
$light: #f8f9fa
