nav
    top: 0
    z-index: 15
    background-color:  rgba(52,58,64,0.4)
    div
        ul
            padding: 0
            margin: 0
            li
                width: 11%
                height: 100%
                text-align: center
                padding-bottom: 5px
                padding-top: 5px
                border-top: solid 1px white
                border-bottom: solid 1px white
                margin: 0
                &:hover
                    background-color: $danger
            i
                font-size: 35px
    // div
    //     display: flex
    //     align-items: flex-end 
    //     justify-content: flex-end 
    //     height: 850px
    //     background-color:  rgba(52,58,64,0.6)
    //     p

.testbouton
    width: 14px !important
    height: 14px !important
    border-radius: 50%
    // border: white solid 3px
    // border-spacing: 1px
@media ( min-width: 1008px )
    nav
        width: 100%
    